:root {
  --button-color: #8b5cf6;
  --button-delete-color: #f43f5e;
  --tag-color: #d946ef;
  --main-border-color: #e5e7eb;
  --main-bg-color: #f3f4f6;
  --main-text-color: #2e1065;
  --main-input-color: white;
  --main-checkbox-opacity-color: 1;
  --font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", Segoe UI Symbol, "Noto Color Emoji";
  --size-toggle-switch: 28px;

  --light-text-color: #2e1065;
  --dark-text-color: #f3f4f6;
  --light-bg-color: #f3f4f6;
  --dark-bg-color: #111827;
  --light-border-color: #d1d5db;
  --dark-border-color: #334155;
  --ligth-input-color: white;
  --dark-input-color: #0e1421;
  --light-checkbox-opacity-color: 1;
  --dark-checkbox-opacity-color: 0.2;
}

body {
  color: var(--main-text-color);
  font-family: var(--font-family);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--main-bg-color);
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 600px;
}

.icon {
  width: 50px;
  aspect-ratio: 1/1;
}

.row-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 95%;
  border-bottom: 2px solid var(--main-border-color);
  padding: 5px 0;
  margin-bottom: 20px;
}

.logo-title {
  background: linear-gradient(90deg, #00b0ff, #d500f9);
  font-size: 1.5rem;
  font-weight: 700;
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.switch {
  position: relative;
  display: inline-block;
  height: var(--size-toggle-switch);
  aspect-ratio: 60/34;
  margin: 0 10px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--dark-bg-color);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: calc(var(--size-toggle-switch) - 8px);
  width: calc(var(--size-toggle-switch) - 8px);
  left: 4px;
  bottom: 4px;
  background-color: var(--light-bg-color);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.content-switch {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  user-select: none;
}

.icon-switch {
  width: 17px;
  aspect-ratio: 1/1;
  margin: 0 4px;
}

input:checked + .slider {
  background-color: var(--light-bg-color);
}

input:focus + .slider {
  box-shadow: 0 0 1px var(--light-bg-color);
}

input:checked + .slider:before {
  -webkit-transform: translateX(calc(var(--size-toggle-switch) - 8px));
  -ms-transform: translateX(calc(var(--size-toggle-switch) - 8px));
  transform: translateX(calc(var(--size-toggle-switch) - 8px));
  background-color: var(--dark-bg-color);
}

/* Rounded sliders */
.slider.round {
  border-radius: var(--size-toggle-switch);
}

.slider.round:before {
  border-radius: 50%;
}

.input-task {
  padding: 10px;
  border: 2px solid var(--main-border-color);
  border-radius: 5px;
  margin: 10px 0;
  background-color: var(--main-input-color);
  color: var(--main-text-color);
}

.input-task:focus {
  outline: none;
  border: 2px solid var(--button-color);
}

.button {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 2px solid var(--main-border-color);
  border-radius: 5px;
  padding: 5px;
  background-color: var(--button-color);
  color: var(--dark-text-color);
  font-weight: 700;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.button:hover {
  filter: brightness(1.2);
}

.icon-size {
  width: 25px;
  aspect-ratio: 1/1;
}

.tabs {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.tab {
  all: unset;
  border-bottom: 2px solid var(--main-border-color);
  padding: 10px;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.tab:hover {
  color: var(--button-color);
  border-bottom: 2px solid var(--button-color);
}

.active {
  color: var(--button-color);
  border-bottom: 2px solid var(--button-color);
  cursor: default;
}

#button-config-tasks {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
}

#button-config-tasks:hover {
  filter: brightness(1.2);
}

.select-all-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  margin: 10px 0;
  font-weight: 600;
  padding-bottom: 10px;
  border-bottom: 2px solid var(--main-border-color);
}

#form-add-task {
  margin: 20px 0;
}

input[type="checkbox"]:not(:checked) {
  filter: opacity(var(--main-checkbox-opacity-color));
}

input[type="checkbox"] {
  height: 20px;
  aspect-ratio: 1/1;
  accent-color: var(--button-color);
  cursor: pointer;
}

.row-task {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  padding: 10px 0;
  background-color: var(--main-input-color);
  border-radius: 0.5rem;
  margin: 5px 0;
  box-shadow: 0 0 5px var(--main-border-color);
  /* border-bottom: 1px solid var(--main-border-color); */
}

.tasks-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.tags-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.tag-task {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border: 2px solid var(--main-border-color);
  border-radius: 0.5rem;
  padding: 5px;
  margin: 2px;
  background-color: var(--tag-color);
  font-size: small;
  color: whitesmoke;
}

.grid-size {
  width: calc(1 / 3 * 100%);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.modal-container {
  position: relative;
}

.task-star {
  font-size: 23px !important;
  cursor: pointer;
  color: rgba(255, 255, 255, var(--main-checkbox-opacity-color));
  text-shadow: #000 0px 0px 1px;
  -webkit-text-stroke-width: 0px;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

.task-star-checked {
  color: var(--button-color) !important;
}

.task-completed {
  font-size: 23px !important;
  cursor: pointer;
  color: rgba(255, 255, 255, var(--main-checkbox-opacity-color));
  text-shadow: #000 0px 0px 1px;
  -webkit-text-stroke-width: 0px;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

.task-completed-checked {
  color: var(--button-color) !important;
}

#button-config-tasks:focus + #modal-delete {
  display: flex;
}

#modal-delete {
  display: none;
  flex-direction: column;
  position: absolute;
  text-align: center;
  width: 150px;
  background-color: var(--main-input-color);
  margin-top: 10px;
  padding: 10px;
  gap: 10px;
  border-radius: 0.5rem;
  border: 1px solid var(--main-border-color);
  box-shadow: 0 0 10px var(--main-border-color);
  z-index: 100; /* Modal in front of the other elements*/
}

#modal-delete:hover {
  display: flex;
}

#modal-delete:focus-within {
  display: flex;
}

.button-delete {
  background-color: var(--button-delete-color);
  font-weight: 500;
}

@media (max-width: 600px) {
  .input-task {
    width: 120px;
  }
  #modal-delete {
    right: 0;
  }
}
